#loader {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #2a9187;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #f8f9fb;
}

#loader svg {
  margin-bottom: 2rem;
  width: 50px;
  height: 50px;
}

/* fix */

._2oKVP {
  display: flex;
  justify-content: center;
}

._2oKVP ._3ygW4 {
  height: 100%;
  width: auto;
}

.messages-container {
  padding-top: 1rem;
}
